<div class="shadow-lg card h-100">
    <span class="border text-center"><img src=<%= photo %> class="card-img-top" alt="..." style="height: 95%; width: 95%;"></span>
    <div class="card-body">
        <h5 class="card-title"><%= title %></h5>
        <p class="card-text"><%= description %></p>
        <a href=<%= link %> class="btn btn-primary">Read More</a>    
    </div>
</div>