<nav class="navbar fixed-top navbar-expand-sm navbar-light py-3">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class=<% if (currentPage.includes('home')) { %> "nav-link active" <% } else { %> "nav-link" <% } %>
                    href="/">Home <span class="sr-only">(current)</span></a>
                </a>
            </li>
            <li class="nav-item">
                <a class=<% if (currentPage.includes('article')) { %> "nav-link active" <% } else { %> "nav-link"
                    <% } %> href="/articles">Publications
                </a>
            </li>
            <li class="nav-item">
                <a class=<% if (currentPage.includes('project')) { %> "nav-link active" <% } else { %> "nav-link"
                    <% } %> href="/projects">Projects
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/assets/jonathan_resume.pdf">Resume</a>
            </li>
        </ul>
    </div>
</nav>