<div class="shadow-lg card">
    <span class="border text-center"><img src=<%= photo %> class="card-img-top" alt="..." style="height: 50%; width: 50%;"></span>
    <div class="card-body">
        <h5 class="card-title"><%= title %></h5>
        <p class="card-text"><%= description %></p>
        <a href=<%= link %>  target="_blank" class="btn btn-primary">Read More</a>
        
    </div>
</div>