<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head"); %>
</head>

<body>
    <%- include("partials/navbar"); %>

        <div class="container">
            <div class="shadow-xs jumbotron mt-2">
                <div class="row">
                    <div class="col">
                        test
                    </div>
                </div>
            </div>

        </div>
</body>

</html>