<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head"); %>
</head>

<body>
    <%- include("partials/navbar"); %>

        <div class="container">
            <div class="row">
                <div class="col">
                    ABOUT ME
                </div>
            </div>

        </div>
</body>

</html>