<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head"); %>
    <%- include("partials/ga_tracker"); %>
</head>

<body id="animatebg">
    <%- include("partials/navbar"); %>
        <div class="container">
            testing
           </div>

</body>
<%- include("partials/animatebg"); %>
</html>