<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head"); %>
    <%- include("partials/ga_tracker"); %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.13.0/katex.min.css">
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.13.0/katex.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.13.0/contrib/auto-render.min.js"></script>

</head>

<body id="animatebg">
    <%- include("partials/navbar"); %>

    <h1>Slider and KaTeX Formula</h1>
    <input type="range" id="slider" min="0" max="100" step="1" value="0">
    <p>Slider value: <span id="sliderValue">0</span></p>
    <p>KaTeX formula:  $$testomg$$</p>
    
    <script>
      const slider = document.getElementById('slider');
      const sliderValueElement = document.getElementById('sliderValue');
      const formulaOutput = document.getElementById('formulaOutput');
  
      slider.addEventListener('input', updateFormula);
        
      function returnKatex()

      function updateFormula() {
        const thisNumber = parseInt(slider.value);
        const result = thisNumber + 2;
  
        sliderValueElement.textContent = thisNumber;
        formulaOutput.textContent = result;
  
        document.addEventListener("DOMContentLoaded", function() {
        renderMathInElement(document.body, {
            delimiters: [
                {left: '$$', right: '$$', display: true},
                {left: '$', right: '$', display: false},
                {left: '\\(', right: '\\)', display: false},
                {left: '\\[', right: '\\]', display: true}
            ],
            throwOnError : false
            });
        });
      }
  
      // Initial update
      updateFormula();
    </script>

</body>
<%- include("partials/animatebg"); %>
</html>