<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head"); %>
</head>

<body>
    <%- include("../partials/navbar"); %>

        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="display-4">Feature Engineering Explained</h1>
                    <hr class="my-4">
                    <p class="lead">What is feature engineering</p>
                    <p>
                        INSERT PIPELINE FLOWCHART HERE
                        Feature engineering sits within the data processing step in the pipeline, which is arguably one of the less exciting steps.
                    </p>
                    <p class="lead">Why do feature engineering</p>
                    <p>
               
                        Though at this point, we've theoretically gotten the data into a usable state, where (for example):
                        <ul>
                            <li>Missing values have been imputed</li>
                            <li>Duplicated values have been removed</li>
                            <li>Column formats have been configured correctly</li>
                            <li>Aligned naming conventions and typos</li>
                            <li>Analyzed and removed outliers</li>
                            <li>and many others...</li>
                        </ul>

                        Our dataset may not be in the optimal condition for the modelling, but what does this mean?
                        Explore graphing bowl
                        WIDGET here, maybe add the polar coords one?

                        Note that in reality, one would not be able to easily visualize the feature set's relationship with the response as most
                        datasets span more than 2 features, or in otherwords span more than 3-dimensions, which would be rather troublesome to graph meaningfully.

                        In essence, we're trying to stretch, twist, rotate and transform our dataset into a form that makes it easier to fit whatever kind of line we're trying
                        to impose on it.
                    </p>
                    <p class="lead">How to do feature engineering</p>
                    

                    Scaling: Log, minmax, standard
                    Encoding categorical
                    Text 
                    Binning
                    Aggregating
                    Numerical extractions
                </div>
            </div>
        </div>
</body>

</html>