<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head"); %>
    <%- include("partials/ga_tracker"); %>
</head>

<body>
    <%- include("../partials/navbar"); %>

        <div class="container">
            <div class="row mt-5">
                <div class="col">
                    <h1 class="display-4">Time Series Analysis</h1>
                    <hr class="my-4">
                    <p class="lead">What is TSA</p>
                    <p>
                        INSERT SUMMARY
                    </p>
                    <p class="lead">What's covered in this repository</p>
                    <p>
                    <ul>
                        <li>What does time series data look like</li>
                        <li>What does a time series model look like</li>
                        <li>Theoretical framework behind TS modelling</li>
                        <ul>
                            <li>Stationarity</li>
                            <li>ACF PACF</li>
                            <li>Seasonaility</li>
                        </ul>
                        <li>Data science pipeline in TS analysis</li>
                        <ul>
                            <li>Data processing</li>
                            <li>Exploratory data analysis</li>
                            <li>Train test split in TS</li>
                            <li>Model selection</li>
                            <li>Model validation</li>
                        </ul>
                    </ul>
                    </p>
                    <div class="row">
                        <div class="col">
                            Time Series Data
                        </div>
                    </div>
                    Just data where the X-axis is some measure of well ordered temporal units. Note that though the name
                    specifies
                    time, this may not always be the case
                    for a peice of analysis to be considered as time series. For example:
                    INSERT EXAMPLE HERE

                    This does not mean that no explanatory variables are allowed in time series. However, it may be the
                    case where those variables must first
                    be forecasted before being an input into the main time series model.
                    <div class="row">
                        <div class="col">
                            Time Series Models
                        </div>
                    </div>
                    State space models - Box jenkins method
                    ARIMA modelling is the classical go to model
                    <div class="row">
                        <div class="col">
                            Cascading model
                        </div>
                    </div>
                    This is a ts model where there are other features other than the time step.
                    PULL OUT OLD NOTES
                    https://github.com/etcrago/Tutorial-Arima-w-jeffrey-yau/blob/master/Section_5_ClosingRemarks_tutorial.ipynb
                    <div class="row">
                        <div class="col">
                            Cross Validation
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>